body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  max-width: 100%;
}

.tab-remover:hover {
  color: red;
  transition: 1s;
  cursor: pointer;
}

.tab-remover {
  color: #aaaaaa;
}

a {
  color: #333333;
  transition: 1s;
}

a:hover {
  color: orange;
  transition: 0.5s;
  text-decoration: none;
}

.action-card {
  transition: 1s;
  height: 100%;
  text-align: center;
  box-shadow: 5px -5px 15px 0px #b7b7b7;
}

.action-card-disabled {
  transition: 1s;
  height: 100%;
  text-align: center;
  box-shadow: 5px -5px 15px 0px #b7b7b7;
}

.action-card-img {
  width: 100%;
  height: 15rem;
}

.action-card-img-disabled {
  width: 100%;
  height: 15rem;
  filter: grayscale(100%);
}

.action-card:hover {
  background-color: #ffffef;
  transition: 0.5s;
}

.form-add-item {
  cursor: pointer;
  width: calc(1.5em + 0.75rem + 2px);
}

.spells-block-list-item:hover,
.creatures-block-list-item:hover {
  background-color: #eee;
  transition: 0.5s;
}

.plus:hover {
  cursor: pointer;
  color: orange;
  transition: 0.5s;
}
